{
  "root": true,
  "env": {
    "node": true,
    "es2020": true
  },
  "plugins": [
    "import",
    "jest",
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "parserOptions": {
    "project": [
      "tsconfig.json",
      "tests/tsconfig.json"
    ],
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error"
  }
}