{
  "env": {
    "es2020": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": [
      "error"
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "no-underscore-dangle": [
      "error"
    ],
    "no-console": "off",
    "strict": [
      "error",
      "global"
    ],
    "require-atomic-updates": "off",
    "no-buffer-constructor": [
      "error"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ]
  }
}